<div>
    <h1>Verify User</h1>
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <select id="documentType" class="document-type-dropdown" [(ngModel)]="DocType">
            <option value="" disabled selected>Select Document Type</option>
            <option value="adhaar">Aadhaar Card</option>
            <option value="pan">PAN Card</option>
            <option value="driving_license">Driving License</option>
          </select>
        <div class="form-group">
            <label for="docNumber">Document Number</label>
            <input type="text" class="form-control" id="docNumber" [(ngModel)]="DocNumber" name="docNumber" required>
        </div>
        <button type="submit" class="btn btn-primary" (click)="verifyUserPii()">Verify</button>
    </form>
    <div *ngIf="verified">
        <p>User verified SuccessFully!</p>
    </div>
    <div *ngIf="error">
        <p>{{error}}</p>
    </div>
</div>
