<footer class="footer">
    <div class="container">
      <!-- Left Column -->
      <div class="footer-column">
        <div class="footer-title">Contact Us</div>
        <a class="footer-link" href="tel:1234567890">+91 93926 50460</a>
        <a class="footer-link" href="mailto:info@example.com">info{{'@'}}example.com</a>
      </div>
  
      <!-- Center Column -->
      <div class="footer-column">
        <div class="footer-title">Follow Us</div>
        <a class="footer-link" href="#!">Facebook</a>
        <a class="footer-link" href="#!">Twitter</a>
        <a class="footer-link" href="#!">Instagram</a>
      </div>
  
      <!-- Right Column -->
      <div class="footer-column">
        <div class="footer-title">Legal</div>
        <a class="footer-link" href="#!">Terms of Service</a>
        <a class="footer-link" href="#!">Privacy Policy</a>
        <a class="footer-link" href="#!">Cookie Policy</a>
      </div>
    </div>
  
    <!-- Bottom -->
    <div class="footer-bottom">
      <div class="footer-text">© 2025 DBOX. All Rights Reserved.</div>
      <div class="social-icons">
        <a href="/" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="/" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="/" class="social-icon"><i class="fab fa-youtube"></i></a>
        <a href="/" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
        <a href="/" class="social-icon"><i class="fab fa-instagram"></i></a>
      </div>
      
    </div>
  </footer>
  