
<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img
        src="assets/logo.png"
        alt="Logo"
        routerLink="/"
        style="border-radius: 7px;"
      />
    </div>
    <ul class="nav-links">
      <li *ngFor="let item of navigation">
        <a [routerLink]="item.href" [ngClass]="{ 'active': isCurrentRoute(item.href) }">
          {{ item.name }}
        </a>
      </li>
    </ul>
    <div class="profile-section">
      <ul class="nav-links">
        <li>
          <a routerLink="/faq">
            FAQ
          </a>
        </li>
      </ul>
      <button class="bell-icon">
        <i class="fa fa-bell"></i>
      </button>
      <div class="user-profile" *ngIf="isLogin">
        <img src="assets/profile.png" alt="User" routerLink="/profile" class="profile-image"/>
        <button class="sign-out" (click)="signOut()">Sign out</button>
      </div>
      <a *ngIf="!isLogin" routerLink="/sign-in" class="sign-in">Sign in</a>
    </div>
  </div>
</nav>